<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jinnyco.polygon_measurer" >

    <application
        android:fullBackupContent="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:screenOrientation="sensorPortrait" >
>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Ext_angle_sides"
            android:label="@string/title_activity_ext_angle_sides"
            android:screenOrientation="sensorPortrait" >
        </activity>
        <activity
            android:name=".Area"
            android:label="@string/title_activity_area"
            android:screenOrientation="sensorPortrait" >
        </activity>
        <activity
            android:name=".Int_angles"
            android:label="@string/title_activity_int_angles"
            android:screenOrientation="sensorPortrait" >
        </activity>
        <activity
            android:name=".Int_angles_sum"
            android:label="@string/title_activity_int_angles_sum"
            android:screenOrientation="sensorPortrait" >
        </activity>
        <activity
            android:name=".Arc_len"
            android:label="@string/title_activity_arc_len" >
        </activity>
        <activity
            android:name=".Arc_area"
            android:label="@string/title_activity_arc_area" >
        </activity>
        <activity
            android:name=".Arc_triangle_area"
            android:label="@string/title_activity_arc_triangle_area" >
        </activity>
    </application>

</manifest>
